amqp
numpy
dlib==19.22.1
face-recognition==1.3.0
face-recognition-models==0.3.0
Pillow==8.4.0
protobuf==3.19.1
requests==2.26.0
pytest-watch==4.2.0
pytest-cov
pylint
flake8
pyflakes
celery
black==21.12b0
pycryptodome
crypto
colorlog
Django==3.0.8
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
django-model-utils==4.1.1
redis
Pillow
